name: CI- Docker Image

on:
  pull_request:
    branches:
      - '**'

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: Mealci
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Attendre que PostgreSQL soit prêt
        run: |
          echo "Attente de PostgreSQL..."
          for i in {1..30}; do
            if pg_isready -h localhost -p 5432 -U postgres; then
              echo "PostgreSQL est prêt !"
              break
            fi
            echo "PostgreSQL n'est pas encore prêt, attente..."
            sleep 2
          done

      - name: Construction du projet avec Maven (Profil spécifique)
        run: mvn clean package -P staging

      - name: Set repository name in lowercase
        id: repo_name
        run: echo "REPO_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Docker Image
        run: docker build -t ghcr.io/${{ env.REPO_NAME }}/mealci-server:latest .

      - name: Push Docker Image
        run: docker push ghcr.io/${{ env.REPO_NAME }}/mealci-server:latest

      - name: Afficher l'URL de l'image
        run: |
          echo "Image disponible sur: ghcr.io/${{ env.REPO_NAME }}/mealci-server:latest"
